<h1 class="ms-2 text-primary">@ViewData["Title"]</h1>
<div class="d-flex gap-4 text-white">
    <partial name="_UserManagerNavPartial" />
    <div class="w-100 text-white py-3">
        <div class="container ">
            <div class="content">

                <div>
                    <header class="px-3">
                        <h6 class="text-primary fs-3 m-0 p-0">Meus Eventos</h6>
                    </header>
                    <div class="row p-3">
                        @if (ViewBag.IsPromoter == true)
                        {
                            if (ViewBag.Conventions.Count > 0)
                            {
                                @foreach (var eventCard in ViewBag.Conventions)
                                {
                                    <div class="col-4 event-thumb-list">
                                        <img class="event-thumb-img" src="@eventCard.ThumbnailPath" />
                                        <content class="event-thumb-info">
                                            <span class="event-thumb-info-title">@eventCard.Name</span>
                                            <span class="event-thumb-info-local">@eventCard.Address</span>
                                            <span class="event-thumb-info-date">@eventCard.Date</span>
                                        </content>
                                        <div class="d-flex flex-column justify-content-center">
                                            <a class="btn btn-primary mb-1 btn-sm" asp-controller="Event" asp-action="EventPage"
                                    asp-route-id="@eventCard.Id">Ver</a>
                                            <a class="btn btn-secondary mb-1 btn-sm" asp-controller="Event" asp-action="EditEvent"
                                    asp-route-id="@eventCard.Id">Editar</a>
                                            <a class="btn btn-danger btn-sm" asp-controller="Event" asp-action="DeleteEvent" method="Get"
                                    asp-route-id="@eventCard.Id">Excluir</a>
                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <h4>Voce ainda não tem eventos</h4>
                                <a asp-controller="Event" asp-action="CreateEvent">Adicionar Evento</a>
                            }
                        }
                        else
                        {
                            <h4>Voce ainda não é um promoter, precisamos de mais informações suas.</h4>
                            <a asp-controller="UserManager" asp-action="CompleteRegister">Virar Promoter</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>