@model Moment.Models.ModelsView.EventPageView
@{
    ViewData["Title"] = "Pagina do Evento";
}

<div class="page">
    <header class="position-relative">
        <img class="header-event-photo"
            src="https://media-blog.keeperformaturas.com.br/wp-content/uploads/2019/07/O-que-observar-ao-visitar-uma-festa-de-formatura.jpg"
            alt="" srcset="">
        <div class="container py-5">
            <span class="big-title">@Model.Name</span>
            <p class="event-sinopse w-50">
                @Model.Resume
            </p>
            <div class="d-flex gap-2">
                <div class="event-timer">
                    <span>20D : 15H : 30M</span>
                </div>
                <a src="#" class="d-flex flex-column justify-content-center align-items-center event-shop">
                    <i class="bi bi-cart-fill fs-5"></i>
                    <span class="fw-bold">Ingresso</span>
                </a>
            </div>
            <div class="d-flex flex-column mt-3">
                <span class="event-date">@Model.Date</span>
                <span class="event-local">@Model.Address</span>
            </div>
        </div>
    </header>
    <content class="event-info d-block">
        <div class="container d-flex gap-3 py-2 align-items-center">
            <div class="event-description">
                <h6>Descrição</h6>
                <p class="m-0">
                    @Html.Display(Model.Description)
                </p>
            </div>
            <div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.397409149802!2d-48.54836028561401!3d-22.48926802875831!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c7459baabaa92b%3A0xd1b954a115160672!2sEtec%20Comendador%20Jo%C3%A3o%20Rays!5e0!3m2!1spt-BR!2sbr!4v1676387736567!5m2!1spt-BR!2sbr"
                    width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </content>
    <footer class="">
        <div class="container py-3 d-flex gap-4">
            <a class="event-service-link" href="#">Denunciar Evento</a>
            <a class="event-service-link" href="#">Termos do Evento</a>
        </div>
        <div class="bg-primary">
            <div class="container d-flex py-4 gap-3">
                <article class="col-2 event-card event-promoter">
                    <h6>Organizador</h6>
                    <a class="w-100" href="#">
                        <img class="event-promoter-photo" src="@Model.UserInfo?.ProfilePicture"
                            alt="Foto de Perfil do Promoter" srcset="">
                        <p>@Model.UserInfo?.GetFullName()</p>
                    </a>
                </article>
                <article class="event-card col-10">
                    <h6>Eventos Proximos</h6>
                    <content class="d-flex ">
                        <a href="#" class="event-link-card">
                            <img class="event-link-card-photo"
                                src="https://magazord-public.s3.amazonaws.com/rosaazul/img/2022/06/blog/12016/festa-infantil.jpg"
                                alt="" srcset="">
                            <p class="m-0">Reveillon Vira Jeri</p>
                        </a>
                    </content>
                </article>
            </div>
        </div>
    </footer>
    <div hidden>
        <div id="event-terms">
            @Model.Terms
        </div>
    </div>
</div>