@model Moment.Models.EntityDto.HomeIndexView
@{
  ViewData["Title"] = "Bem vindo";
}
<div class="header container pb-4">
  <div class="info-container">
    <div>
      <span class="big-title">@Model.StartCategory.Name</span>
      <p class="info-container-description">@Model.StartCategory.Description
      </p>
      <a id="info-container-button" class="btn btn-white" href="/Categoria/@Model.StartCategory.Name">Saber mais</a>
    </div>
    <partial name="../Shared/_SearchContainer.cshtml" />
  </div>
  <div class="info-container-banner">
    <div class="info-banner">
      <img class="banner" src="@Model.StartCategory.ImagePath" />
    </div>
    <img class="back-banner-1" src="~/assets/imgs/Points.svg" />
    <img class="back-banner-2" src="~/assets/imgs/Points2.svg" />
  </div>
</div>
<div class="bg-secondary pt-5">
  <div class="container">
    <header class="list-thumb-title">
      <h6>Últimos Adicionados</h6>
    </header>
    <div id="list-thumb-content" class="list-thumb-content hidden-scroll">
      @foreach (var eventCard in Model.RecentEvents)
      {
        <a class="event-thumb" asp-controller="Event" asp-action="EventPage" asp-route-id="@eventCard.Id">
          <img class="event-thumb-img" src="@eventCard.ThumbnailPath" />
          <content class="event-thumb-info">
            <span class="event-thumb-info-title">@eventCard.Name</span>
            <span class="event-thumb-info-local">@eventCard.Address</span>
            <span class="event-thumb-info-date">@eventCard.DateFormated</span>
          </content>
        </a>
      }

    </div>
  </div>
</div>

@section Scripts{
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <partial name="../Shared/_SearchScripts.cshtml" />
  <script>
    jQuery(function ($) {
      $.fn.hScroll = function (amount) {
        amount = amount || 120;
        $(this).bind("DOMMouseScroll mousewheel", function (event) {
          var oEvent = event.originalEvent,
            direction = oEvent.detail ? oEvent.detail * -amount : oEvent.wheelDelta,
            position = $(this).scrollLeft();
          position += direction > 0 ? -amount : amount;
          $(this).scrollLeft(position);
          event.preventDefault();
        })
      };
    });

    $(document).ready(function () {
      $('#list-thumb-content').hScroll(40); // You can pass (optionally) scrolling amount
      // Create array for setTimeouts
    });

    var timeouts = [];
    $("#list-thumb-content").mousemove(function () {

      $(this).addClass("show-scroll");

      // Clear all setTimeouts
      for (var i = 0; i < timeouts.length; i++) {
        clearTimeout(timeouts[i]);
      }

      // Start a new setTimeout to disable scoll after 3 seconds
      timeouts.push(setTimeout(hideScroll, 5000));

    });


    function hideScroll() {

      // Disable scroll in ALL divs with .hover-scroll
      $("#list-thumb-content.show-scroll").removeClass("show-scroll");

    }
  </script>
  <script>
    //Trocar Topo da pagina
    let count = 0;
    let categories;

    async function getCategories() {
      await $.get('@Url.Action("Categories","Api")', result => {
        if (result) {
          categories = result;
        }
      });
    }

    function setSlider() {
      let banner = $('.banner');
      let title = $('.big-title');
      let description = $('.info-container-description');
      let button = $('#info-container-button');
      let category = categories[count];
      banner.attr('src', category.imagePath);
      title.text(category.name);
      description.text(category.description)
      button.attr('href', `/Categoria/${category.name}`);
      setInterval(() => {

        title.animate({ opacity: '0', left: '-80px' }, 500, () => { });
        description.animate({ opacity: '0', left: '-80px' }, 510, () => { });
        button.animate({ opacity: '0', left: '-80px' }, 500, () => { });
        $('.info-banner').animate({ opacity: '0', right: '-80px' }, 500, () => {
          count++;
          if (count >= categories.length)
            count = 0;

          category = categories[count];
          banner.attr('src', category.imagePath);
          title.text(category.name);
          description.text(category.description)
          button.attr('href', `/Categoria/${category.name}`);

          title.animate({ opacity: '1', left: '0px' }, 500, () => { });
          description.animate({ opacity: '1', left: '0px' }, 500, () => { });
          button.animate({ opacity: '1', left: '0px' }, 500, () => { });
          $('.info-banner').animate({ opacity: '1', right: '0px' }, 1000, () => { });
        });
      }, 8000);
    };

    async function execucao() {
      await getCategories();
      setSlider();
    }

    $(document).ready(function () {
      execucao();
    });
  </script>
}