@model Moment.Models.EntityDto.EventPageView
@{
    ViewData["Title"] = "Pagina do Evento";
}

<div class="page">
    <header class="position-relative">
        <img class="header-event-photo"
            src="@(Model.BackgroundPath == null ? Model.ThumbnailPath : Model.BackgroundPath )" alt="" srcset="">
        <div class="container py-5">
            <span class="big-title">@Model.Name</span>
            <p class="event-sinopse w-50">
                @Model.Resume
            </p>
            <div class="d-flex gap-2">
                <div class="event-timer">
                    <strong>Contagem regressiva :</strong>
                    <p id="clock">20D : 15H : 30M</span>
                </div>
            </div>
            <div class="d-flex flex-column mt-3">
                <span class="event-date">@Model.DateFormated</span>
                <span class="event-local">@Model.CityAndState</span>
            </div>
        </div>
    </header>
    <content class="container event-info d-block">
        <h6 class="mt-3">Descrição</h6>
        <div class="d-flex py-2 align-items-start">
            <div class="event-description col-12">
                <div class="m-0">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
    </content>
    <footer>
        <div class="container py-3 d-flex gap-4">
            <a hidden class="event-service-link" href="#">Denunciar Evento</a>
            <a class="event-service-link" data-bs-toggle="modal" data-bs-target="#terms-modal">Termos do Evento</a>
        </div>
        <div class="bg-primary">
            <div class="container d-flex py-4 gap-3">
                <article class="col-2 event-card event-promoter">
                    <h6>Organizador</h6>
                    <a class="w-100" href="#">
                        <img class="event-promoter-photo" src="@Model.UserInfo.ProfilePicture"
                            alt="Foto de Perfil do Promoter" srcset="">
                        <p>@Model.UserInfo.GetFullName()</p>
                    </a>
                </article>
                <article class="event-card col-10">
                    <h6>Mais eventos na cidade</h6>
                    <content class="d-flex ">
                        @foreach (var convention in Model.Conventions)
                        {
                            <a asp-controller="Event" asp-action="EventPage" asp-route-id="@convention.Id"
                            class="event-link-card">
                                <img class="event-link-card-photo" src="@convention.ThumbnailPath" alt="" srcset="">
                                <p class="m-0">@convention.Name</p>
                            </a>
                        }
                    </content>
                </article>
            </div>
        </div>
    </footer>
</div>

<!--Terms Modal -->
<div class="modal fade" id="terms-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Termos do Evento</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @Model.Terms
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script src="~/lib/countdown/countdown.js"></script>
<script src="~/lib/jquery.countdown-2.2.0/jquery.countdown.min.js"></script>
<script>
    let date = new Date('@Model.EuaStartDate');
    var timerId = 
        countdown(
            date,
            function (ts) {
                document.getElementById('clock').innerText = `${ts.days}D : ${ts.hours}h : ${ts.minutes}m`;

            },
            countdown.DAYS | countdown.HOURS | countdown.MINUTES);
</script>
}