@model Moment.Models.EntityDto.EventSearchView

<div class="bg-black">
    <header class="container mb-2">
        <partial name="../Shared/_SearchContainer.cshtml" />
        <h2 class="title-page text-white">@Model.Texto</h2>
        <div class="d-flex align-items-center">
            <p class="m-0 p-0 text-primary fw-light"><span class="count-events">@Model.CountEvents</span> Eventos Encontrados...</p>
            <div class="flex-grow-1"></div>
        </div>
    </header>
</div>
<div class="bg-dark text-white">
    <div class="container">
        <div class="content">
            <div>
                <header class="list-thumb-title">
                    <h6></h6>
                </header>
                <div id="list-thumb-content" class="list-thumb-content-wrap hidden-scroll">


                    <a class="event-thumb" city-event="Jau,SP">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Baile da favorita</span>
                            <span class="event-thumb-info-local">Jau,SP</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>

                    <a class="event-thumb" city-event="Bauru,SP">
                        <img class="event-thumb-img" src="~/assets/imgs/event.jpg" />
                        <content class="event-thumb-info">
                            <span class="event-thumb-info-title">Carna Open</span>
                            <span class="event-thumb-info-local">Bauru - SP</span>
                            <span class="event-thumb-info-date">30/Dez &bull; 23:00 Até 31/dez &bull; 6:00</span>
                        </content>
                    </a>

                    @foreach (var eventCard in Model.EventCards)
                    {
                        <a class="event-thumb" city-event="Macatuba,SC" asp-action="EventPage" asp-route-id="@eventCard.Id">
                            <img class="event-thumb-img" src="@eventCard.ThumbnailPath" />
                            <content class="event-thumb-info">
                                <span class="event-thumb-info-title">@eventCard.Name</span>
                                <span class="event-thumb-info-local">@eventCard.Address</span>
                                <span class="event-thumb-info-date">@eventCard.Date</span>
                            </content>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <partial name="../Shared/_SearchScripts.cshtml" />
}