@model Moment.Models.EntityDto.CategoryView
@{
    ViewData["Title"] = Model.Name;
}
<div class="bg-black">
    <div class="mb-3 position-relative">
        <div class="container position-absolute" style="z-index: 2; left:100px; top:25%;">
            <div class="col col-sm-6">
                <h1 class="title-page text-white">@Model.Name</h1>
                <p class="subtitle-search-page">em, <select id="select-cities" asp-items="ViewBag.Cities"> </select></p>
                <p class="resume-search-page mt-3">@Model.Description</p>
            </div>
        </div>
        <div class="opacity-5">
            <img class="col image-header" src="@Model.ImagePath">
        </div>
    </div>
    <div class="container">
        <div style="min-height: 100vh;">
            <header class="list-thumb-title">
                <h6>Em alta</h6>
            </header>
            @if (Model.EventCards.Count > 0)
            {
                <div id="list-thumb-content" class="list-thumb-content-wrap hidden-scroll">
                    @foreach (var eventCard in Model.EventCards)
                    {
                        <a class="event-thumb" asp-action="EventPage" asp-route-id="@eventCard.Id">
                            <img class="event-thumb-img" src="@eventCard.ThumbnailPath" />
                            <content class="event-thumb-info">
                                <span class="event-thumb-info-title">@eventCard.Name</span>
                                <span class="event-thumb-info-local">@eventCard.Address</span>
                                <span class="event-thumb-info-date">@eventCard.DateFormated</span>
                            </content>
                        </a>
                    }
                </div>

            }
            else
            {
                <div class="text-center text-white">
                    <h3>Nenhum Evento encontrado.</h3>
                </div>
            }
        </div>
    </div>
    <div class="container d-flex flex-wrap">
        <div class="d-flex align-items-center gap-2 col-4 mb-3 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2 col-4 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2 col-4 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2 col-4 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
        <div class="d-flex align-items-center gap-2 col-4 suggestion">
            <i class="bi bi-clock suggestion-icon"></i>
            <div class="suggestion-body">
                <p class="m-0 p-0 suggestion-title">Hoje</p>
                <p class="m-0 p-0 suggestion-subtitle">Festas e Shows</p>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $('#select-cities').change( () =>{
            
            let city = $('#select-cities option:selected').text();
            searchCategory(city);
        })
        function searchCategory(city){
            let url = '@Url.Action("SearchCategory","Event")';
            let newUrl = `${url}?cidade=${city}`;

            $(location).attr('href', newUrl);
        }
    </script>
}